 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
 /*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');*/
*{
  box-sizing: border-box;
}
html, body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  background: #f5f5f5;
}